<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>edittheme</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Edit Theme</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Edit App Icon</string>
			<key>UIApplicationShortcutItemType</key>
			<string>editicon</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
		</dict>
	</array>
<!--	<key>CFBundleIcons</key>-->
<!--	<dict>-->
<!--		<key>CFBundlePrimaryIcon</key>-->
<!--		<dict>-->
<!--			<key>CFBundleIconName</key>-->
<!--			<string></string>-->
<!--			<key>CFBundleIconFiles</key>-->
<!--			<array>-->
<!--				<string>AppIcon</string>-->
<!--			</array>-->
<!--		</dict>-->
<!--		<key>CFBundleAlternateIcons</key>-->
<!--		<dict>-->
<!--			<key>CFBundleIconFiles</key>-->
<!--			<array>-->
<!--				<string>AppIcon</string>-->
<!--				<string>AppIcon_1</string>-->
<!--				<string>AppIcon_2</string>-->
<!--				<string>AppIcon_3</string>-->
<!--			</array>-->
<!--		</dict>-->
<!--	</dict>-->
</dict>
</plist>
